{
    "voxel_grid_obj_path": "./index_list.npy", // Has to be Row order (C-Style)
    "voxel_grid_fixed_path": "./occupancy_grid.npy", // Has to be Row order (C-Style)
    "o_S_x": 0.1,
    "o_Ds_x": [
        [
            [
                1,
                0,
                0,
                0
            ],
            [
                0,
                1,
                0,
                0
            ],
            [
                0,
                0,
                1,
                0
            ]
        ],
        [
            [
                1,
                0,
                0,
                0
            ],
            [
                0,
                1,
                0,
                0
            ],
            [
                0,
                0,
                1,
                0
            ]
        ]
    ],
    "o_D_obj": [
        [
            1,
            0,
            0,
            0
        ],
        [
            0,
            1,
            0,
            0
        ],
        [
            0,
            0,
            1,
            0
        ]
    ],    
    "rrt_info": {
        "angle_distance_tradeoff": 0.028648,
        "pos_bounds": {
            "min": [
                -7.5,
                -25,
                0.06
            ],
            "max": [
                7.5,
                25,
                0.18
            ]
        },
        "step_size": {
            "angle": 0.1748,
            "distance": 0.01
        },
        "n_interp_steps": 10
    }

}